body  {
    background-image: linear-gradient(black, yellow, green, yellow, black);
}

#btn {
	padding: 10px;
	text-align: center;
    color: black;
    margin: 20px;
    background-image: linear-gradient(green, DarkSlateGrey, green);
    border: 3px solid black;
}


.btn-group {
    padding: 10px;
    text-align: center;
    color: black;
    margin: 20px;
    background-image: linear-gradient(green, DarkSlateGrey, green);
    border: 3px solid black;
} 

.input-group-text {
  min-width:150px;
  text-align:left;
}
